{% extends 'base.html' %}

{% block container %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="order.html">Orders</a></li>
          <li><a href="address.html">Address</a></li>
          <li><a class="active"  href="profile-details.html">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="pull-left text-center" href="#!">
              <img class="media-object user-img" src="{{profile.image.url}}" alt="Image">
              <a href="{% url 'accounts:update-profile' %}" class="btn btn-transparent mt-20">Edit Profile</a>
            </div>
            <div class="media-body">
              <ul class="user-profile-list">
                <li><span>Full Name:</span>{{profile.user.first_name}} {{profile.user.last_name}}</li>
                <li><span>Country:</span>{{profile.country}}</li>
                <li><span>Email:</span>{{profile.user.email}}</li>
                <li><span>Phone:</span>{{profile.phone}}</li>
                <li><span>Date of Birth:</span>{{profile.date_of_birth}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock%}
